@CHARSET "UTF-8";


/**
*	video menu
*/
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}

/**
*	drop down menu
*/

.drop_down {
    padding: 5px;
    text-align: center;
    background-color: none;
    display: none;
}

.drop_down ul {
	height:50px;
	list-style:none;
	margin:0;
	padding:0;
}

.drop_down li{
	float:left;
	padding:0px;
}

.drop_down li a{
	display:block;
	color:#cccccc;
	font-weight:normal;
	line-height:50px;
	margin:0px;
	padding:0px 25px;
	text-align:center;
	text-decoration:none;
}

.drop_down li a:hover, .drop_down ul li:hover a{
	color:#FFFFFF;
	text-decoration:none;
}

.drop_down li ul{
	background: rgba(109,109,109,0.3);
	display:none; /* 평상시에는 드랍메뉴가 안보이게 하기 */
	height:auto;
	padding:0px;
	margin:0px;
	border:0px;
	width:200px;
	z-index:200;
	/*top:1em;
	/*left:0;*/
}

.drop_down li:hover > ul{
	display:block; /* 마우스 커서 올리면 드랍메뉴 보이게 하기 */
}

.drop_down li li {	
	background: rgba(109,109,109,0.6);		
	display:block;
	float:none;
	margin:0px;
	padding:0px;
	width:200px;
}

.drop_down li:hover li a{
	background:none;
}

.drop_down li ul a{
	display:block;
	height:50px;
	font-size:13px;
	font-style:normal;
	margin:0px;
	padding:0px 10px 0px 15px;
	text-align:left;
}
	
.drop_down li ul > a:hover, .drop_down li ul li:hover a{
	background: rgb(71,71,71);
	border:0px;
	text-decoration:none;
}
	
.drop_down p{
	clear:left;
}

.drop_down_submenu {
	position: relative;
}

.drop_down_submenu ul{
	position: absolute;
	top: 0;
    left: 100%;
    margin-top: -1px;
}

.drop_down_submenu .drop_down_menu li:hover{
	background-color: #fff;
}

.drop_down_submenu .drop_down_menu li a:hover{
	background-color: #fff;
	color: #000;
}


		

