@CHARSET "UTF-8";
/* Ion.RangeSlider, Modern Skin
// css version 2.0.3
// © Denis Ineshin, 2014    https://github.com/IonDen
// ===================================================================================================================*/

/* =====================================================================================================================
// Skin details */

/* 
.color-1 기본스킨
.color-2 모던스킨
.coler-3 Nice
.color-4 Round
.color-5 Simple
.coler-6 Squere

 */

/* 모던스킨 */
/* ========================================================================================================================== */
.color-2 .irs-line-mid,
.color-2 .irs-line-left,
.color-2 .irs-line-right,
.color-2 .irs-bar,
.color-2 .irs-bar-edge,
.color-2 .irs-slider {
    background: url(/h5/resources/portfolio/graph/img/sprite-skin-modern.png) repeat-x;
}

.color-2 .irs {
    height: 50px;
}
.color-2 .irs-with-grid {
    height: 70px;
}
.color-2 .irs-line {
    height: 6px; top: 25px;
}
    .color-2 .irs-line-left {
        height: 6px;
        background-position: 0 -30px;
    }
    .color-2.irs-line-mid {
        height: 6px;
        background-position: 0 0;
    }
    .color-2 .irs-line-right {
        height: 6px;
        background-position: 100% -30px;
    }

.color-2 .irs-bar {
    height: 6px; top: 25px;
    background-position: 0 -60px;
}
    .color-2 .irs-bar-edge {
        top: 25px;
        height: 6px; width: 6px;
        background-position: 0 -90px;
    }

.color-2 .irs-shadow {
    height: 5px; top: 25px;
    background: #000;
    opacity: 0.25;
}
.color-2 .lt-ie9 .irs-shadow {
    filter: alpha(opacity=25);
}

.color-2 .irs-slider {
    width: 11px; height: 18px;
    top: 31px;
    background-position: 0 -120px;
}
.color-2 .irs-slider.state_hover, .color-2 .irs-slider:hover {
    background-position: 0 -150px;
}

.color-2 .irs-min, .color-2 .irs-max {
    color: #999;
    font-size: 10px; line-height: 1.333;
    text-shadow: none;
    top: 0; padding: 1px 3px;
    background: #e1e4e9;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.color-2 .irs-from, .color-2 .irs-to, .color-2 .irs-single {
    color: #fff;
    font-size: 10px; line-height: 1.333;
    text-shadow: none;
    padding: 1px 5px;
    background: #20b426;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.color-2 .irs-from:after, .color-2 .irs-to:after, .color-2 .irs-single:after {
    position: absolute; display: block; content: "";
    bottom: -6px; left: 50%;
    width: 0; height: 0;
    margin-left: -3px;
    overflow: hidden;
    border: 3px solid transparent;
    border-top-color: #20b426;
}

.color-2 .irs-grid {
    height: 34px;
}
.color-2 .irs-grid-pol {
    background: #c0c0c0;
}
.color-2 .irs-grid-text {
    bottom: 12px;
    color: #c0c0c0;
}

.color-2 .irs-disable-mask {

}
.color-2 .irs-disabled {

}
.color-2 .lt-ie9 .irs-disabled {

}

/* Ion.RangeSlider, Flat UI Skin
// css version 2.0.3
// © Denis Ineshin, 2014    https://github.com/IonDen
// ===================================================================================================================*/

/* =====================================================================================================================
// Skin details */

/* 일반스킨 */
/* ========================================================================================================================== */
.color-1 .irs-line-mid,
.color-1 .irs-line-left,
.color-1 .irs-line-right,
.color-1 .irs-bar,
.color-1 .irs-bar-edge,
.color-1 .irs-slider {
    background: url(/h5/resources/portfolio/graph/img/sprite-skin-flat.png) repeat-x;
}

.color-1 .irs {
    height: 40px;
}
.color-1 .irs-with-grid {
    height: 60px;
}
.color-1 .irs-line {
    height: 12px; top: 25px;
}
    .color-1 .irs-line-left {
        height: 12px;
        background-position: 0 -30px;
    }
    .color-1 .irs-line-mid {
        height: 12px;
        background-position: 0 0;
    }
    .color-1 .irs-line-right {
        height: 12px;
        background-position: 100% -30px;
    }

.color-1 .irs-bar {
    height: 12px; top: 25px;
    background-position: 0 -60px;
}
    .color-1 .irs-bar-edge {
        top: 25px;
        height: 12px; width: 9px;
        background-position: 0 -90px;
    }

.color-1 .irs-shadow {
    height: 3px; top: 34px;
    background: #000;
    opacity: 0.25;
}
.color-1 .lt-ie9 .irs-shadow {
    filter: alpha(opacity=25);
}

.color-1 .irs-slider {
    width: 16px; height: 18px;
    top: 22px;
    background-position: 0 -120px;
}
.color-1 .irs-slider.state_hover, .color-1 .irs-slider:hover {
    background-position: 0 -150px;
}

.color-1 .irs-min, .color-1 .irs-max {
    color: #999;
    font-size: 10px; line-height: 1.333;
    text-shadow: none;
    top: 0; padding: 1px 3px;
    background: #e1e4e9;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.color-1 .irs-from, .color-1 .irs-to, .color-1 .irs-single {
    color: #fff;
    font-size: 10px; line-height: 1.333;
    text-shadow: none;
    padding: 1px 5px;
    background: #ed5565;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.color-1 .irs-from:after, .color-1 .irs-to:after, .color-1 .irs-single:after {
    position: absolute; display: block; content: "";
    bottom: -6px; left: 50%;
    width: 0; height: 0;
    margin-left: -3px;
    overflow: hidden;
    border: 3px solid transparent;
    border-top-color: #ed5565;
}


.color-1 .irs-grid-pol {
    background: #e1e4e9;
}
.color-1 .irs-grid-text {
    color: #999;
}

.color-1 .irs-disabled {
}

/* Ion.RangeSlider, Nice Skin
// css version 2.0.3
// © Denis Ineshin, 2014    https://github.com/IonDen
// ===================================================================================================================*/

/* =====================================================================================================================
// Skin details */

.color-3 .irs-line-mid,
.color-3 .irs-line-left,
.color-3 .irs-line-right,
.color-3 .irs-bar,
.color-3 .irs-bar-edge,
.color-3 .irs-slider {
    background: url(/h5/resources/portfolio/graph/img/sprite-skin-nice.png) repeat-x;
}

.color-3 .irs {
    height: 40px;
}
.color-3 .irs-with-grid {
    height: 60px;
}
.color-3 .irs-line {
    height: 8px; top: 25px;
}
    .color-3 .irs-line-left {
        height: 8px;
        background-position: 0 -30px;
    }
    .color-3 .irs-line-mid {
        height: 8px;
        background-position: 0 0;
    }
    .color-3 .irs-line-right {
        height: 8px;
        background-position: 100% -30px;
    }

.color-3 .irs-bar {
    height: 8px; top: 25px;
    background-position: 0 -60px;
}
    .color-3 .irs-bar-edge {
        top: 25px;
        height: 8px; width: 11px;
        background-position: 0 -90px;
    }

.color-3 .irs-shadow {
    height: 1px; top: 34px;
    background: #000;
    opacity: 0.15;
}
.color-3 .lt-ie9 .irs-shadow {
    filter: alpha(opacity=15);
}

.color-3 .irs-slider {
    width: 22px; height: 22px;
    top: 17px;
    background-position: 0 -120px;
}
.color-3 .irs-slider.state_hover, .color-3 .irs-slider:hover {
    background-position: 0 -150px;
}

.color-3 .irs-min, .color-3 .irs-max {
    color: #999;
    font-size: 10px; line-height: 1.333;
    text-shadow: none;
    top: 0; padding: 1px 3px;
    background: rgba(0,0,0,0.1);
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.color-3 .lt-ie9 .irs-min, .color-3 .lt-ie9 .irs-max {
    background: #ccc;
}

.color-3 .irs-from, .color-3 .irs-to, .color-3 .irs-single {
    color: #fff;
    font-size: 10px; line-height: 1.333;
    text-shadow: none;
    padding: 1px 5px;
    background: rgba(0,0,0,0.3);
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.color-3 .lt-ie9 .irs-from, .color-3 .lt-ie9 .irs-to, .color-3 .lt-ie9 .irs-single {
    background: #999;
}

.color-3 .irs-grid-pol {
    background: #99a4ac;
}
.color-3 .irs-grid-text {
    color: #99a4ac;
}

.color-3 .irs-disabled {
}

/* Ion.RangeSlider, Round Skin
// css version 2.2.0
// © Denis Ineshin, 2014           https://github.com/IonDen
// © Veaceslav Grimalschi, 2018    https://github.com/grimalschi
// ===================================================================================================================*/

/* =====================================================================================================================
// Skin details */

.color-4 .irs {
    height: 50px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.color-4 .irs-with-grid {
    height: 67px;
}

.color-4 .irs-line {
    top: 36px;
    height: 4px;
    background: #DEE4EC;
    border-radius: 16px;
}

.color-4 .irs-bar, .color-4 .irs-bar-edge {
    top: 36px;
    height: 4px;
    background: #006CFA;
}
.color-4 .irs-bar-edge {
    width: 12px;
}

.color-4 .irs-shadow {
    height: 4px;
    top: 40px;
    background: #DEE4EC;
    opacity: 0.5;
}

.color-4 .lt-ie9 .irs-shadow {
    filter: alpha(opacity=25);
}

.color-4 .irs-slider {
    top: 35px;
    width: 16px;
    height: 16px;
    margin-top: -10px;
    border: 4px solid #006CFA;
    background: white;
    border-radius: 27px;
    box-shadow: 0 1px 3px rgba(0,0,255,0.3);
    cursor: pointer;
    box-sizing: content-box;
}

.color-4 .irs-slider.state_hover, .color-4 .irs-slider:hover {
    background: #f0f6ff;
}

.color-4 .irs-min, .color-4 .irs-max {
    color: #333;
    font-size: 14px;
    top: 0;
    padding: 3px 5px;
    background: rgba(0,0,0,0.1);
    border-radius: 3px;
    line-height: 1;
}

.color-4 .irs-from, .color-4 .irs-to, .color-4 .irs-single {
    color: #fff;
    font-size: 14px;
    text-shadow: none;
    padding: 3px 5px;
    background: #006CFA;
    border-radius: 3px;
    line-height: 1;
}
.color-4 .irs-from:after, .color-4 .irs-to:after, .color-4 .irs-single:after {
    position: absolute;
    display: block;
    content: "";
    bottom: -6px;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -3px;
    overflow: hidden;
    border: 3px solid transparent;
    border-top-color: #006CFA;
}

.color-4 .irs-grid {
    height: 27px;
}
.color-4 .irs-grid-pol {
    background: #DEE4EC;
}

.color-4 .irs-grid-text {
    bottom: 4px;
    color: silver;
    font-size: 12px;
}

/* Ion.RangeSlider, Simple Skin
// css version 2.0.3
// © Denis Ineshin, 2014    https://github.com/IonDen
// ===================================================================================================================*/

/* =====================================================================================================================
// Skin details */

.color-5 .irs-line-mid,
.color-5 .irs-line-left,
.color-5 .irs-line-right,
.color-5 .irs-bar,
.color-5 .irs-bar-edge,
.color-5 .irs-slider {
    background: url(/h5/resources/portfolio/graph/img/sprite-skin-simple.png) repeat-x;
}

.color-5 .irs {
    height: 40px;
}
.color-5 .irs-with-grid {
    height: 60px;
}
.color-5 .irs-line {
    height: 6px; top: 25px;
}
    .color-5 .irs-line-left {
        height: 6px;
        background-position: 0 -30px;
    }
    .color-5 .irs-line-mid {
        height: 6px;
        background-position: 0 0;
    }
    .color-5 .irs-line-right {
        height: 6px;
        background-position: 100% -30px;
    }

.color-5 .irs-bar {
    height: 6px; top: 25px;
    background-position: 0 -60px;
}
    .color-5 .irs-bar-edge {
        top: 25px;
        height: 6px; width: 7px;
        background-position: 0 -90px;
    }

.color-5 .irs-shadow {
    height: 1px; top: 34px;
    background: #000;
    opacity: 0.75;
}
.color-5 .lt-ie9 .irs-shadow {
    filter: alpha(opacity=75);
}

.color-5 .irs-slider {
    width: 8px; height: 15px;
    top: 21px;
    background-position: 0 -120px;
}
.color-5 .irs-slider.state_hover, .color-5 .irs-slider:hover {
    background-position: 0 -150px;
}

.color-5 .irs-min, .color-5 .irs-max {
    color: #c0c0c0;
    font-size: 10px; line-height: 1.333;
    text-shadow: none;
    top: 0; padding: 1px 3px;
    background: rgba(0,0,0,0.1);
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.color-5 .lt-ie9 .irs-min, .color-5 .lt-ie9 .irs-max {
    background: #3654b0;
}

.color-5 .irs-from, .color-5 .irs-to, .irs-single {
    color: #000;
    font-size: 10px; line-height: 1.333;
    text-shadow: none;
    padding: 1px 5px;
    background: rgba(255,255,255,0.8);
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.color-5 .lt-ie9 .irs-from, .color-5 .lt-ie9 .irs-to, .color-5 .lt-ie9 .irs-single {
    background: #d8dff3;
}

.color-5 .irs-grid-pol {
    background: #777;
}
.color-5 .irs-grid-text {
    color: #e0e0e0;
}

.color-5 .irs-disabled {
}

/* Ion.RangeSlider, Square Skin
// css version 2.2.0
// © Denis Ineshin, 2014           https://github.com/IonDen
// © Veaceslav Grimalschi, 2018    https://github.com/grimalschi
// ===================================================================================================================*/

/* =====================================================================================================================
// Skin details */

.color-6 .irs {
    height: 45px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.color-6 .irs-with-grid {
    height: 62px;
}

.color-6 .irs-line {
    top: 31px;
    height: 4px;
    background: #DEDEDE;
}

.color-6 .irs-bar, .color-6 .irs-bar-edge {
    top: 31px;
    height: 4px;
    background: black;
}
.color-6 .irs-bar-edge {
    width: 8px;
}

.color-6 .irs-shadow {
    height: 2px;
    top: 37px;
    background: #DEDEDE;
}

.color-6 .irs-slider {
    top: 30px;
    width: 10px;
    height: 10px;
    margin-top: -5px;
    border: 3px solid black;
    background: white;
    cursor: pointer;
    box-sizing: content-box;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.color-6 .irs-slider.state_hover, .color-6 .irs-slider:hover {
    background: #f0f0f0;
}

.color-6 .irs-min, .color-6 .irs-max {
    color: #333;
    font-size: 13px;
    top: 0;
    padding: 3px 4px;
    background: rgba(0,0,0,0.1);
    line-height: 1;
}

.color-6 .irs-from, .color-6 .irs-to, .color-6 .irs-single {
    color: #fff;
    font-size: 13px;
    text-shadow: none;
    padding: 3px 4px;
    background: black;
    line-height: 1;
}

.color-6 .irs-grid {
    height: 27px;
}
.color-6 .irs-grid-pol {
    background: #DEDEDE;
}

.color-6 .irs-grid-text {
    bottom: 4px;
    color: silver;
    font-size: 11px;
}