@CHARSET "UTF-8";

#wigetBox {
	float: left;
	width: 110%;
	min-height: 12em;
	text-align: center;
}

.wigetBox.custom-state-active {
	background: #eee;
}

.wigetBox li {
	display: inline-block;
	width: 48px;
	/* height: 60px; */
	/* padding: 0.4em; */
	margin: 0.4em 0.4em 0.4em 0;
	text-align: center;
}

.wigetBox li h5 {
	margin: 0 0 0.4em;
	cursor: move;
}

.wigetBox li a {
	float: right;
}

.wigetBox li a.ui-icon-zoomin {
	float: left;
}

.wigetBox li img {
	width: 100%;
	height: 70%;
	cursor: move;
}

#trash {
	/* float: left; */
	margin: auto;
	width: 32%;
	min-height: 18em;
	padding: 1%;
	background-color: white;
}

#trash h4 {
	line-height: 16px;
	margin: 0 0 0.4em;
}

#trash h4 .ui-icon {
	float: left;
}

#trash .wigetBox h5 {
	display: none;
}

.sidebox {
	background-color: #e4e6eb63;
	position: absolute;
	width: 90px;
	top: 401px;
	right: 160px;
	padding: 3px 10px;
	border-radius: 20px;
	margin: 0 auto;
	text-align: center;
	/* height: 287px; */
}

.textEditBox {
	background-color: #e4e6eb63;
	width: 165px;
	padding: 10px;
	position: absolute;
	top: 330px;
	left: 0px;
	border-radius: 20px;
}

.textEditIcon {
	width: 20px;
	height: 20px;
	border: solid 1px black;
	cursor: pointer;
}

.edit_text {
	width: 100%;
	height: 100%;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;  
    box-sizing: border-box; 
	
}

.img {
	width: 100%;
	height: 100%;
}

.addfile {
	cursor: pointer;
	margin-bottom: 25px;
}

.close {
	display: none;
	cursor: pointer;
}

@font-face {
	font-family: 'Glyphicons Halflings';
	src: url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/fonts/glyphicons-halflings-regular.eot');
	src: url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
		 url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/fonts/glyphicons-halflings-regular.woff') format('woff'),
		 url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
		 url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
      
.color-box {
	float:left;
	width:30px;
	height:30px;
	margin:5px;
	border: 1px solid white;
}
.rs-tooltip .rs-tooltip.edit{
	font-size: 20px;
}
.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}

select.soflow {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   background-color: #e4e6eb63;
   border: 1px solid #AAA;
   border-radius: 10px;
   color: #555;
   font-size: inherit;
   margin: 5px;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 300px;
   font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
