<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.palette.h5.ego.dao.EgoMapper">

	<!-- Swot분석 입력 -->
	
	<!-- HISTORY | HISTORY 전체 데이터 가져오기-->
	<select id="historyDataAll" parameterType="string" resultType="history">
		select
			hisId
			,hisDate
			,hisPeriod
			,hisTitle
			,hisContent
			,hisNo
		from
			history
		where hisId = #{hisId}
	</select>
	
	<!-- HISTORY | HISTORY 연도List 가져오기-->
	<select id="historyYearList" parameterType="string" resultType="string">
		select
			hisDate
		from
			history
		where
			hisId = #{hisId}
	</select>
	
	<!-- HISTORY | HISTORY 데이터 추가하기-->
	<insert id="historyAddOne" parameterType="history">
		insert into
			history
			(
				hisId
				,hisDate
				,hisPeriod
				,hisTitle
				,hisContent
				,hisNo
			) values (
				#{hisId}
				,#{hisDate}
				,#{hisPeriod}
				,#{hisTitle}
				,#{hisContent}
				,history_seq.nextval
			)
	</insert>
	
	<!-- HISTORY | HISTORY 데이터 수정하기-->
	<update id="historyUpdateOne" parameterType="history">
		update
			history
		set
			hisPeriod = #{hisPeriod}
			,hisTitle = #{hisTitle}
			,hisContent = #{hisContent}
		where
			hisId = #{hisId} and hisNo = #{hisNo}
	</update>
	
	<!-- HISTORY | HISTORY 데이터 삭제하기-->
	<delete id="historyDeleteOne" parameterType="history">
		delete
			history
		where
			hisId=#{hisId} and hisNo=#{hisNo}
	</delete>
	
	<!-- 파일 저장 -->
	<insert id="file_management" parameterType="file">
		insert into file_management (
			file_id
			<if test="originalFileName != null and savedFileName != null">
			, originalFileName
			, savedFileName
			</if>
		)
		values (
			file_management_SEQ.nextval
			<if test="originalFileName != null and savedFileName != null">
			, #{originalFileName}
			, #{savedFileName}
			</if>
		)
	</insert>



</mapper>
