<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.palette.h5.ego.dao.EgoMapper">

	<!-- Swot분석 입력 -->
	
	<!-- HISTORY | history 전체 데이터 가져오기 -->
	<select id="historyDataAll" parameterType="string" resultType="history">
		select 
			hisId
			,hisDate
			,hisPeriod
			,hisTitle
			,hisContent
			,hisNo
		from 
			history
		where
			hisId = #{hisId} 
	</select>
	
	<!-- HISTORY | history 전체 연도list 가져오기 -->
	<select id="historyYearList" parameterType="string" resultType="string">
		select
			hisDate
		from
			history
		where hisId = #{hisId}
	</select>
	
	<!-- HISTORY | history 등록하기 -->
	<insert id="historyAddOne" parameterType="history">
		insert into
			history(
				hisId
				,hisDate
				,hisPeriod
				,hisTitle
				,hisContent
				,hisNo
			) values (
			
			)
	</insert>
	
	<!-- HISTORY | history 수정하기 -->
	
	<!-- HISTORY | history 삭제하기 -->
	
	


	<!-- 파일 저장 -->
	<insert id="file_management" parameterType="file">
		insert into file_management (
			file_id
			<if test="originalFileName != null and savedFileName != null">
			, originalFileName
			, savedFileName
			</if>
		)
		values (
			file_management_SEQ.nextval
			<if test="originalFileName != null and savedFileName != null">
			, #{originalFileName}
			, #{savedFileName}
			</if>
		)
	</insert>



</mapper>
