<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.palette.h5.dao.FileMapper">


	<!-- certGrad | certGrad 파일 업로드 : uploadAjax에서 fileId리스트 받은거대로 쫑쫑 등록하기-->
	<insert id="insertCertGradOne" parameterType="certGrad">
		insert into
			cert_grad(
				gradId
				,gradFileId
			) values (
				#{gradId}
				,#{gradFileId}			
			)
	</insert>
	
	<!-- certGrad | certGrad의 gradField(파일No) 불러오기 -->
	<select id="displayCertGrad" parameterType="string" resultType="certGrad">
		select
			*
		from
			cert_grad
		where
			gradId=#{gradId}
	</select>	
	
	<!-- certGrad | certGrad의 delete -->
	<delete id="deleteCertGrad" parameterType="string">
		delete
		from cert_grad
		where
			gradId=#{gradId}
	</delete>
	
	<!-- certScholarship | certScholarship 파일 업로드 -->
	<insert id="insertCertSch" parameterType="certSch">
		insert into
			cert_scholarship(
				schId
				,schField
			) values (
				#{schId}
				,#{schField}
			)
	</insert>
	
	<!-- certScholarship | certScholarship에 저장된 파일No 불러오기 -->
	<select id="displayCertSch" parameterType="string" resultType="certSch">
		select 
			* 
		from 
			cert_scholarship
		where
			schId = #{schId}
	</select>
	
	<!-- certScholarship | certScholarship의 delete -->
	<delete id="deleteCertSch" parameterType="string">
		delete
		from cert_scholarship
		where
			schId = #{schId}
	</delete>
	
	<!-- 파일 업로드 ㅣ 통합 -->
	<insert id="uploadAjax" parameterType="file">
		insert into 
			file_management (
				file_id
				,originalFileName
				,savedFileName
				,fileDivision
				,fileUserId
			) values (
				file_management_SEQ.nextval
				,#{originalFileName}
				,#{savedFileName}
				,#{fileDivision}
				,#{fileUserId}
			)
		<selectKey keyProperty="idx" resultType="Integer" order="AFTER"> 
			SELECT 
				file_management_seq.currval 
			FROM 
				dual
		</selectKey>
	</insert>
	
	<!-- file_management | 특정페이지(특정 fileDivision)에서 DB에 저장된 파일 불러오기  -->
	<select id="displayfile" parameterType="file" resultType="file">
		select
			*
		from
			file_management
		where
			fileDivision = #{fileDivision} and fileUserId = #{fileUserId}
	</select>
	
	<!-- 해당 userId에 저장된 모든 파일 불러오기 -->
	<select id="getAlldataByID" parameterType="string" resultType="file">
		select * 
		from
			file_management
		where
			fileUserId = #{fileUserId}
	</select>
	
	<!-- file_management | 특정페이지(특정 fileDivision)에서 DB에 저장된 파일 삭제하기 -->
	<delete id="deleteFile" parameterType="file">
		delete
			file_management
		where
			fileDivision = #{fileDivision} and fileUserId = #{fileUserId}
	</delete>


</mapper>
