<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.palette.h5.port.dao.PortMapper">
	<insert id="portSave" parameterType="portfolio">
		insert into portfolio
			(
			portId
			,portNum
			,portContent
			)
		values
			(
			#{portId}
			,portfolio_SEQ.nextval
			,#{portContent}
			)
	</insert>
	
	<select id="portSelectOne" parameterType="portfolio" resultType="portfolio">
		select
			*
		from
			portfolio
		where
			portId = #{portId}
			and
			portNum = #{portNum}
	</select>
</mapper>