<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.palette.h5.port.dao.PortMapper">
	<!-- 포폴저장 -->
	<insert id="portSave" parameterType="portfolio">
		insert into portfolio
			(
			portId
			,portNum
			,portContent
			,portModify
			,portHeight
			)
		values
			(
			#{portId}
			,portfolio_SEQ.nextval
			,#{portContent}
			,#{portModify}
			,#{portHeight}
			)
	</insert>
	
	<!-- 포폴 수정 -->
	<update id="portUpdate" parameterType="portfolio">
		update 
			portfolio
		set
			portContent = #{portContent}
			,portModify = #{portModify}
			,portHeight = #{portHeight}
		where
			portNum = #{portNum}
			and
			portId = #{portId}
	</update>
	
	<delete id="portDelete" parameterType="portfolio">
		delete from
			portfolio
		where
			portNum = #{portNum}
			and
			portId = #{portId}
	</delete>
	
	<!-- 한 아이디의 포폴 모두 불러오기 -->
	<select id="portList" parameterType="String" resultType="portfolio">
		select
			*
		from
			portfolio
		where
			portId = #{portId}
		order by portNum asc
	</select>
	
	<!-- 포폴 하나 불러오기 -->
	<select id="portSelectOne" parameterType="portfolio" resultType="portfolio">
		select
			*
		from
			portfolio
		where
			portId = #{portId}
			and
			portNum = #{portNum}
	</select>
	
	<!-- 공유된 포폴리스트 불러오기 -->
	<select id="portOpenList" resultType="portfolio">
		select
			*
		from
			portfolio
		where
			portOpen=1
	</select>
	
	<!-- 리플 작성하기 -->
	<insert id="commentwrite" parameterType="reply">
		insert into port_comment (
			commentNum
			, replyportNum
			, commentID
			, commentText
		)
		values (
			port_comment_SEQ.nextval
			, #{replyportNum}
			, #{commentID}
			, #{commentText}
		 )		
	</insert>
	<!--리플 출력하기  -->
	<select id="commentView" parameterType="int" resultType="reply">
	
		select 
			commentNum
			, replyportNum
			, commentID
			, commentText
			, to_char(commentDate, 'YYYY-MM-DD HH24:MI:SS') commentDate
		from 
			port_comment 
		where
			replyportNum = #{replyportNum}
		order by commentDate desc
	</select>
	<!--리플 수정하기  -->
	<update id="commentUpdate" parameterType="reply">
	update
			port_comment
		set
			commentText = #{commentText}
		where
			commentNum = #{commentNum}
			and replyportNum = #{replyportNum}
	</update>
	<!--리플 삭제하기  -->
	<delete id="commentDel" parameterType="reply">
	delete
		from
			port_comment
		where
			commentNum = #{commentNum}
			and replyportNum = #{replyportNum}
	</delete>
</mapper>